html {
    scroll-behavior: smooth;
}

body {
    height: 100%;
    min-height: 100%;
    margin: 0;
    font-family: 'Lora', serif;
    background-image: linear-gradient(to bottom, #3a5a5a, #517a65);
    text-align: center;
    color: white;
}

span{
    position: fixed;
}

a#home {
    position: fixed;
    right: 50px;
    bottom: 50px;
    color: #C1B3AF;
    background-color: #000000;
    padding: 10px;
    border-radius: 30px;
    text-decoration: none;
    transition: 0.2s;
}

a#home:hover {
    color: #929292;
}

.panel {
    min-height: 100vh;
    height: 100%;
    width: 100%;
    margin: 0;
}

#front-page {
    color: rgb(255, 255, 255);
    margin-top: 0;
    min-height: 100vh;
    width: 100vw;
    background-image: url("images/battle.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: 15px center;
}

#title {
    font-size: 50px;
    margin-top: 55vh;
    color: white;
    user-select: none;
}

#top-bar {
    font-size: 30px;
    display: table;
    margin: 0 auto;
}

ul {
    list-style: none;
}

li {
    display: inline;
    margin-right: 20px;
}

a#top-nav {
    text-decoration: none;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-shadow: inset 0 0 0 0 white;
    color: white;
    margin: 0 -.25rem;
    padding: 0 .25rem;
    transition: color .5s ease-in-out, box-shadow .5s ease-in-out;
}

a#top-nav:hover {
    box-shadow: inset 200px 0 0 0 black;
    color: white;
}

